/*

ADD ANY CSS THAT WILL BE USED ON EVERY PAGE HERE

*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* playground */
.container-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.2;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2em;
  width: 100%;
}

.container-1a {
  margin-right: 1em;
  width: 48%;
}

.container-1b {
  width: 48%;
}

.CodeMirror {
  height: 460px !important;
}

.playground-header {
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
}

.button-container-2 {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

#button-clear {
  margin-left: 0.5em;
}

.grey {
  background-color: rgb(226, 226, 226);
  padding: 1em;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

#usage_example {
  margin-top: 30px;
}
