/*

ADD ANY CSS THAT WILL BE USED ON EVERY PAGE HERE

*/

html {
  min-height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  color: #00d9ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #90a9b7;
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

img {
  max-width: 100%;
  display: block;
}

.MuiButton-root {
  color: inherit !important;
}

.MuiSnackbar-root {
  z-index: 10002 !important;
}

.button-row .MuiButton-root {
  margin-right: 4px !important;
}

#documentation-container {
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 19.3em;
}

@media (min-width: 320px) {
  .MuiDrawer-paperAnchorLeft {
    display: none !important;
  }
  #logo-title {
    display: none;
  }
  #documentation-container {
    margin-left: auto;
    align-self: center;
  }
}
@media (min-width: 940px) {
  .MuiDrawer-paperAnchorLeft {
    display: flex !important;
  }
  #logo-title {
    display: flex;
  }
  #documentation-container {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 19.3em;
  }
}

/* playground */
.container-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.2;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2em;
  width: 100%;
}

.container-1a {
  margin-right: 1em;
  width: 50%;
}

.container-1b {
  width: 50%;
}

.CodeMirror {
  /* height: 460px !important; */
  height: 70vh !important;
  font-size: 0.9vw;
}

.playground-header {
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
}

.button-container-2 {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

#button-clear {
  margin-left: 0.5em;
}

#translation_code_examples {
  display: flex;
}

#documentation_links {
  padding: 1px;
  padding-left: 5px;
  background-color: whitesmoke;
  border-radius: 25px;
}
#documentation_links a {
  font-size: small;
}

#install_example {
  font-family: 'Consolas', 'Monaco', 'monospace';
  padding: 1px;
  background-color: whitesmoke;
  border-radius: 25px;
}
#installation code {
  font-size: medium;
}

.grey {
  background-color: rgb(226, 226, 226);
  padding: 1em;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

#usage_example {
  margin-top: 30px;
}
