/*

ADD ANY CSS THAT WILL BE USED ON EVERY PAGE HERE

*/

html {
  min-height: 100vh;
  background-color: #f9f9f9;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  color: #00d9ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #90a9b7;
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

img {
  max-width: 100%;
  display: block;
}

.MuiButton-root {
  color: inherit !important;
}

.MuiSnackbar-root {
  z-index: 10002 !important;
}

.button-row .MuiButton-root {
  margin-right: 4px !important;
}

#documentation-container {
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 19.3em;
  padding-top: 1.2em;
}

/* playground */
.container-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  line-height: 1.2;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2em;
  width: 100%;
}

.container-1a {
  width: 50%;
}

.container-1b {
  width: 50%;
}

.CodeMirror {
  /* height: 460px !important; */
  height: 81vh !important;
  /* font-size: 0.9vw; */
  font-size: 2vh;
  border-radius: 3px;
}

.MuiButton-label.hookify {
  color: white !important;
}

.playground-header {
  font-weight: lighter;
  font-size: 1.23em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
}

.button-container-2 {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

#button-clear {
  margin-left: 0.5em;
}

#translation_code_examples {
  display: flex;
}

#documentation_links {
  padding-top: 1em;
  padding-left: 1em;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 3em;
}

#read-more {
  margin-block-start: 0;
  margin-block-end: 0;
}

#bullets {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 1em;
}

#documentation_links a {
  font-size: small;
}

#installation code {
  font-size: medium;
}

#usage code {
  font-size: medium;
}

.grey {
  background-color: rgb(226, 226, 226);
  padding: 1em;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.code-span {
  background-color: rgb(226, 226, 226);
  padding: 2px;
  border-radius: 3px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.li-limits {
  margin-bottom: 7px;
}

#usage_example {
  margin-top: 30px;
}

.MuiDrawer-paperAnchorLeft {
  background-color: #f5f4f4 !important;
}

/* Media Queries */
@media (min-width: 320px) {
  .MuiDrawer-paperAnchorLeft {
    display: none !important;
  }
  #logo-title {
    display: none;
  }
  #documentation-container {
    margin-left: auto;
    align-self: center;
  }
  nav {
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
  }
  .githubs {
    display: none;
  }
  .home-container img {
    width: 15em;
    padding-bottom: 1em;
  }
  .about-container {
    flex-direction: column;
    align-items: center;
  }
  .about-details {
    width: 80vw;
    background-color: none;
  }
  .about-details h1 {
    font-size: 7vw;
  }
  .code-block {
    font-size: 3.1vw;
  }
  .container-1 {
    flex-direction: column;
    align-items: center;
  }
  .container-1a {
    width: 90%;
  }

  .container-1b {
    width: 90%;
  }
}
@media (min-width: 635px) {
  nav {
    align-items: center;
    justify-content: space-between;
    padding-left: 10em;
    padding-right: 10em;
  }
  .home-container img {
    width: auto;
    padding-bottom: 0em;
  }
  .about-details {
    width: 25em;
    background-color: #2e4756;
  }
  .about-details h1 {
    font-size: 1.9em;
  }
  .code-block {
    font-size: 14px;
  }
}
@media (min-width: 940px) {
  .MuiDrawer-paperAnchorLeft {
    display: flex !important;
  }
  #logo-title {
    display: flex;
  }
  #documentation-container {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 19.3em;
  }
  .githubs {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  .githubs a {
    padding-top: 5px;
    color: black;
    transition: color 0.3s ease;
  }
  .githubs a:hover {
    color: #324a5f;
  }
  .about-container {
    flex-direction: row;
  }
  .container-1 {
    flex-direction: row;
  }
  .container-1a {
    margin-right: 1em;
    width: 50%;
  }

  .container-1b {
    width: 50%;
  }
}

@media (min-width: 1500px) {
  .CodeMirror {
    font-size: 1.7vh;
  }
}
