/*

ADD ANY VERY COMMON CSS HERE
AND IMPORT THIS FILE TO USE ITS CLASSES...

import utilStyles from '../styles/utils.module.css'

*/

.rowFlex {
  display: flex;
  flex-direction: row;
}

.whitebutton {
  color: white;
}
